body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
}

/* BUSCADOR PRO (ARREGLADO) */
.busqueda {
    position: relative;
    display: inline-block;
}

.busqueda input {
    width: 180px;
    padding: 10px 35px 10px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #fff;
    color: black;
    transition: 0.3s;
}

.busqueda input:focus {
    width: 260px;
}

/* ICONO BIEN POSICIONADO */
.icono {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    stroke: black;
}

/* FILAS NETFLIX */
.fila {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
}

.card {
    min-width: 150px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
}

button {
    width: 100%;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.ver { background: red; color: white; }
.fav { background: gold; }

/* MODAL */
.modal {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 70%;
    margin: 5% auto;
}

iframe {
    width: 100%;
    height: 400px;
}

.busqueda button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

.card button {
    margin-top: 5px;
}
    border: none;
    background: transparent;
    cursor: pointer;
}
